<div class="jumbotron">
	<h1>  <%= cat.name %>	 </h1>
	<p> <%= cat.page_title %>	</p>
</div> <br>
<div class="jumbotron"> 
	<p>  <%= cat.page_description %>	 </p>
	<!-- check all the subCategories -->
</div>




		<% var count = 1; %> 
	
 	 <% for (var x = 0; x < allProds.length; x++) { %> 
	
		 <% if (allProds[x].hits != null ) { %> 
			<div class = "row"> 
			<% for (var j = 0; j < allProds[x].hits.length; j++) { %> 
			
 				<% var temp = allProds[x].hits[j].link + ""; %>
				<% if (temp.includes(cat.id + "&")) { %> 
				
				
					<div style="text-align:center;height:900px;border: 2px solid rgb(171, 171, 171);" class="col-md-4"> 
						<div> 
							<h2> <%= allProds[x].hits[j].product_name %>   	 </h2> 
							<% if (allProds[x].hits[j].product_name.length  < 40) { %>
								<br>
								<% }%>

							<hr> 
						</div>
						<div style= "float:left"> 
							<img width="350x" height="300px" src=" <%- allProds[x].hits[j].image.link %>" > 
							<hr>
						</div>	
					 <div class = "middle">  
							<% if ((allProds[x].hits[j].price + "").includes(".")) { %>
								<h3>	  <%= "$" + allProds[x].hits[j].price %>   </h3>
							 
								 <% } else { %>
									<h3>	  <%= "$" + allProds[x].hits[j].price  + ".00"%>   </h3>

								 <% } %>
								 <hr> 
 			<%	for (var k =0; k < allProds_info.length;k++){ %>
				<%	 if (allProds_info[k].id == allProds[x].hits[j].product_id)										{%>
						<h5>	<%= allProds_info[k].short_description %> </h5>
						<button class="button" > Buy now, but not really! </button>

						<% break; %>
						<% }%>
					
			<% }%>	
		 
		</div>
				 <% }%>
				</div>
			

			<% count++; }%>
		</div>
	
 		<% }%>	
	
	<% }%>
 
	 
 
	 <br>

