<hr style="width:50%">
<p class="text-center text-muted" style="font-size: large">   <span><strong>LYONS</strong><strong style="color: #FF9018">CG</strong> </span>   University Project:   All rights reserved.
        This is a demo store only. Orders made will NOT be processed, they probably won't ever go pass the button </p>