<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">

				<img width="100%" src="images/headerPicture.png">
				<br>
				<br>

				<ul class="nav navbar-nav">

					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>

					<% for (var i = 0; i < headerCat.categories.length; i++)   {%>
						<div style="text-align: center" class="dropdown">
							<button onclick="window.location.href='/<%= headerCat.categories[i].id %>'" ; onmouseout="myFunction2(<%=i%>)" onmouseover="myFunction(<%=i%>)"
							  class="dropbtn">
								<%=  headerCat.categories[i].name  %>
							</button>
							<div id="<%=i%>_menu" class="dropdown-content">
								<% var temp =  []; %>
									<% if (headerCat["categories"][i]["categories"] != null) { %>
										<%	temp =  (headerCat["categories"][i]["categories"])  %>
											<% for (var j = 0; j < temp.length; j++)   {%>
												<h3>
													<a href="/<%= temp[j].id %>">
														<%= temp[j].name   %>
													</a>
												</h3>
												<hr>
												<% if (temp[j].categories != null) {    %>
													<div class="row">
														<% for (var x =0; x < temp[j].categories.length; x++){ %>
															<div class="col-md-6">
																<h5>
																	<a href="/<%= temp[j].categories[x].id %>">
																		<%= temp[j].categories[x].name   %>
																	</a>
																</h5>
															</div>
															<% } %>
													</div>
													<hr>
													<%	}%>

														<% } %>
															<%	} %>
																<div>
																	<%- headerCat["categories"][i].c_headerMenuBanner %>
																</div>
							</div>
						</div>
						<% } %>
				</ul>
			</div>
		</div>
	</nav>

	<script>
		/* When the user clicks on the button, 
				toggle between hiding and showing the dropdown content */
		function myFunction(i) {
			var elms = document.getElementsByClassName("dropdown-content");
			for (var j = 0; j < elms.length; j++) {
				if (elms[j].style.visibility == 'visible') {
					elms[j].style.visibility = 'hidden';
				}




			}
			document.getElementById(i + "_menu").classList.toggle("show");
			document.getElementById(i + "_menu").style.visibility = 'visible';

		}

		function myFunction2(x) {
			function myFunction(i) {
				document.getElementById(i + "_menu").style.visibility = 'hidden';
			}

		}


		window.onclick = function (event) {
			if (!event.target.matches('.dropbtn')) {

				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>
</body>