<meta charset="UTF-8">
<title>Week 4 Project 2</title>

<!-- CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<style>
	body 	{ padding-top:50px;
	 background-image: url("images/darkPat.png");
	 font-family: 'Arimo', sans-serif;
	 color: rgb(0, 0, 0);
	 }
	 .navbar-nav{
		font-size: large;
 		margin-left: 12.3%; 		 

	 }
	 .jumbotron {
		background-color: #F8F8F8;
	 }
	 .col-md-3{
		background-color: rgb(245, 245, 245);
		height: 800px;
		width: 33%;

	 }
	 .row {
		 
		padding: 20px;

	 }
	  .navbar-header{
		margin:   10px;
		padding: auto;

	  }
	table, th, td {
    border: 1px solid black;}
 				.dropbtn {
					background-color: #3498DB;
					color: white;
					padding: 16px;
					font-size: 16px;
					border: none;
					cursor: pointer;
				}
				
				.dropbtn:hover, .dropbtn:focus {
					background-color: #2980B9;
				}
				
				.dropdown {
					position: relative;
					display: inline-block;
				}
				
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					min-width: 160px;
					overflow: auto;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
				}
				
				.dropdown-content a {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
				}
				
				.dropdown a:hover {background-color: #f1f1f1}
				
				.show {display:block;}
		 
				.item-header {
 						position: relative;
						right:    0%;
						top:   0%;
						font-weight:  500; 

						}
				.item-price {
 						position: absolute;
						font-size: xx-large;
						right: 33%;
  						top:   17%;
					 	font-weight:  500; 
						 text-shadow: rgb(0, 0, 0) 1px 1px .5px;
						color: rgb(198, 23, 23);
					 
						}
				.item-pic{
 						position: absolute;
						 right:   5%;
						bottom:   35%;
  						}
				.button {
						display: inline-block;
						-webkit-font-smoothing: antialiased;
						background-color: #222; /* dark blue */
						font-family: 'Montserrat', sans-serif;
						font-size: 14px;
						font-weight: 100;
						text-decoration: none;
						user-select: none;
						letter-spacing: 1px;
						color: white;
						padding: 20px 40px;
						text-transform: uppercase;
						Transition: background-color 0.1s ease-out;
						-webkit-filter: url("#filter");
						filter: url("#filter");
						position: absolute;
						right:    5%;
						bottom:   10%;
						}
			
				.button:hover {
						background-color: #FF9018
				}
				</style>
 