<%  var temp2 = cgID %>

	<div class="page-header"  >
		<p class="hidden">
			<%=  JSON.stringify(jsonCatIdIndexing[cgID])  %>
		</p>
 	 
		</div>

 			<% if (jsonCatIdIndexing[temp2] == null) {  %>
				<h1> We're sorry! </h1>
				<p> There was an error we did not expect! for
					<%= temp2 %>
				</p>
				<% 	} %>
				<div class="row">
					<%  for (let i=1; i < jsonCatIdIndexing[temp2].count; i++){ %>
					
							<div style="text-align:center; border: 1px solid rgb(171, 171, 171);" class="col-md-3">

								<p class="hidden">
									<%= jsonCatIdIndexing[temp2].hits[i].product_id %>
								</p>
								<div>
									<h2>
										<%= jsonCatIdIndexing[temp2].hits[i].product_name %>
									 
									</h2>

									<% if ( !(jsonCatIdIndexing[temp2].hits[i].price+"").includes(".")) { %>
										<h3 class="item-price"> $
											<%= jsonCatIdIndexing[temp2].hits[i].price + ".00" %>
										</h3>

										<% } else {%>
											<h3 class="item-price"> $
												<%= jsonCatIdIndexing[temp2].hits[i].price %>
											</h3>
											<% } %>
								</div>
								<div class="item-pic">
									<img width="310px" height="310px" src="<%= jsonCatIdIndexing[temp2].hits[i].image.dis_base_link %>">
								</div>


								<button class="button"> Buy now, (but not really!) </button>
							</div>
					
							<% if ( i%3 == 0) { %>
							</div>	<!-- new row -->	<div class="row"> 
						 
						<% } %>
							<% } %>
					
<br>  

	 