<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
			<% include ../partials/header %>

 	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>Sample About Page</h1> <HR>
					<p>Yes, it is that sad</p>
				</div>
				
			</div>
			<div class="col-sm-4">
		 

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>