<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
<header>
	<% include ../partials/header %>
</header>
	<main>
		<div class="row">
				<% include ../partials/subsubContent %>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>