<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
			<div class="jumbotron"> 
  <h1> Welcome to Tim's Shop! <img   width="110px" height= "110px" src="http://www.clker.com/cliparts/V/o/l/z/d/6/shopping-cart-hi.png">   </h1> 

</div>

			<div class="jumbotron">
  <h2> Where the prices are cheap and things don't always work as they should!  </h2>
</div>
  <br>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
 
</body>
</html>