<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
<header>
	<% include ../partials/header %>
</header>
	<main>
			<div class="jumbotron"> 
					<h1> Surprise another blank page!  	<img   width="150px" height= "150px" src="http://www.pngmart.com/files/4/Puppy-PNG-Image.png">    </h1>
				
				  </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>